<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Overlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Overlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Overlay.Properties.Settings>
      <setting name="TemplateLowerthird" serializeAs="String">
        <value>Overlay/lowerthird</value>
      </setting>
      <setting name="LayerLowerthird" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LayerMaps" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TemplateGreen" serializeAs="String">
        <value>Overlay/playercams</value>
      </setting>
      <setting name="TemplateMaps" serializeAs="String">
        <value>Overlay/maps</value>
      </setting>
      <setting name="LayerGreen" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="TemplateAnnouncement" serializeAs="String">
        <value>Overlay/announcement</value>
      </setting>
      <setting name="TemplatePreset1" serializeAs="String">
        <value>Overlay/preset1</value>
      </setting>
      <setting name="TemplatePreset2" serializeAs="String">
        <value>Overlay/preset2</value>
      </setting>
      <setting name="TemplatePreset3" serializeAs="String">
        <value>Overlay/preset3</value>
      </setting>
      <setting name="TemplatePreset4" serializeAs="String">
        <value>Overlay/preset4</value>
      </setting>
      <setting name="TemplatePreset5" serializeAs="String">
        <value>Overlay/preset5</value>
      </setting>
      <setting name="TemplatePreset6" serializeAs="String">
        <value>Overlay/preset6</value>
      </setting>
      <setting name="TemplatePreset7" serializeAs="String">
        <value>Overlay/preset7</value>
      </setting>
      <setting name="TemplatePreset8" serializeAs="String">
        <value>Overlay/preset8</value>
      </setting>
      <setting name="LayerPreset1" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LayerPreset2" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LayerPreset3" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LayerPreset4" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LayerPreset5" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LayerPreset6" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LayerPreset7" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LayerPreset8" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="TemplateSchedule" serializeAs="String">
        <value>Overlay/schedule</value>
      </setting>
      <setting name="LayerSchedule" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="TemplateSting" serializeAs="String">
        <value>Overlay/sting</value>
      </setting>
      <setting name="LayerSting" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="LayerAnnouncement" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TemplateScheduleBG" serializeAs="String">
        <value>SCHEDULEBG</value>
      </setting>
      <setting name="Videos" serializeAs="String">
        <value>video1;video2;video3</value>
      </setting>
      <setting name="VideoLayer" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="FlashLayer" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LayerScheduleBG" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ImgLayer" serializeAs="String">
        <value>5</value>
      </setting>
    </Overlay.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Overlay.Properties.Settings>
      <setting name="CasparChannel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="StingCutTime" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="ATEMHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="CasparCGHostname" serializeAs="String">
        <value>192.168.0.17</value>
      </setting>
      <setting name="NetworkVideoFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="CasparCGPort" serializeAs="String">
        <value>5250</value>
      </setting>
      <setting name="VideoFolder" serializeAs="String">
        <value>C:\CasparCG\CasparCG Server 2.0.3\Server\media</value>
      </setting>
      <setting name="MediaTransitionDuration" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MediaTransitionType" serializeAs="String">
        <value>MIX</value>
      </setting>
      <setting name="MediaTransitionAnimationType" serializeAs="String">
        <value>linear</value>
      </setting>
      <setting name="CasparCGVideoFormat" serializeAs="String">
        <value />
      </setting>
    </Overlay.Properties.Settings>
  </userSettings>
</configuration>